<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

    <router-outlet></router-outlet>

    <!-- <app-login></app-login> -->

    <!-- <app-taskservice></app-taskservice> -->

    <!-- <fa-icon [icon]="faCoffee"></fa-icon>

    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

    {{myCounterInApp}}

    {{msg}}

    <div class="form-group">
        <button type="button" (click)="getTasks()">Get Tasks</button>
    </div>

    <pre>{{resp | json}}</pre>

    <app-home (counterChanged) = "myEventHandler($event)"></app-home>

    <h1>Welcome to Angular Class</h1>

    <p [innerText]="message"></p>

    <button type="submit" [disabled] = "flag">Submit</button>

    <input type="text" value="Initial Value" (input)="sendMessage($event.target)">

    <p [appHighlight]="color">Highlighted in yellow</p>

    <h1>My First Attribute Directive</h1>

    <h2>Pick a highlight color</h2>
    <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
    </div>
    <p [appHighlight]="color">Highlight me!</p>


    <p [appHighlight]="color" defaultColor="violet">
        Highlight me too!
    </p>

    <p>Use ngNonBindable to stop evaluation.</p>
    <p ngNonBindable>This should not evaluate: {{ 1 + 1 }}</p>

    <h3>ngNonBindable with a directive</h3>
    <div ngNonBindable [appHighlight]="'yellow'">This should not evaluate: {{ 1 +1 }}, but will highlight yellow.</div>
    

    <button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>
     -->

     
</body>
</html>


